@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@layer base {
  html, body {
    overscroll-behavior: none;
  }

  /* Override some of tailwind's preflight styles */
  ul, ol {
    margin: initial;
    list-style-type: initial;
    padding-left: 1em;
  }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal;  }
  ul ul { list-style-type: circle; }
  ol ol { list-style-type: lower-alpha; }
  ul ul ul { list-style-type: square; }
  ol ol ol { list-style-type: lower-roman; }
  ul li, ol li {
    margin: initial;
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: bold;
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: bold;
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: bold;
  }
  h4, h5, h6 {
    font-weight: bold;
  }

  p:not(.p-compact p) {
    margin: 0.5em 0;
  }
  ul p { margin: initial; }

  [data-isnew] {
    @apply bg-yellow-200 dark:bg-yellow-800;
  }

  [data-playing="true"] {
    @apply bg-blue-200 dark:bg-blue-800;
  }

  [data-clickable-block].loading {
    @apply bg-blue-100 dark:bg-blue-900;
    animation: pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }
}

@layer components {
  .ProseMirror {
    @apply border border-gray-300 bg-white dark:bg-gray-900 dark:text-gray-100;
  }
}